.editor-wrapper {
  height: 100%;
  flex-grow: 1;
  padding: .5rem;
}

.editor-body {
  height: 100%;
}

.editor-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(255 6% 10%);
  color: #fff;
  border-top-right-radius: .8rem;
  border-top-left-radius: .8rem;
  padding: .5rem .5rem .5rem 1rem;
}